<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nogari.system.ntbd.dao.mapper.NtbdMapper">

    <!-- 게시글 조회 -->
    <select id="selectBoard" parameterType="String" resultType="BoardRespDTO">
        /* NtbdMapper.selectBoard */
        SELECT NTBD_CD              /* 게시글 코드 */
             , NTBD_DIV             /* 게시글 구분 */
             , VIEW_CNT             /* 조회수 */
             , POST_NM              /* 게시글 제목 */
             , POST_CONT            /* 게시글 내용 */
             , POST_IN_DATE         /* 게시글 공개 될 날짜 */
             , POST_OUT_DATE        /* 게시글 종료 될 날짜 */
             , REG_DT               /* 게시글 등록일 */
             , REG_ID               /* 게시글 작성자 ID */
             , UPD_DT               /* 게시글 수정일 */
             , UPD_ID               /* 게시글 수정자 ID */
             , TOP_YN               /* 게시글 상단 게시 여부 */
             , FILE_CD              /* 파일 코드 */
          FROM NOTICE_BOARD
         WHERE 1=1
           AND NTBD_CD = #{ntbdCd}
    </select>

    <!-- 게시글 목록 조회 -->
    <select id="selectBoardList" parameterType="String" resultType="BoardRespDTO">
        /* NtbdMapper.selectBoardList */
        SELECT NTBD_CD              /* 게시글 코드 */
             , NTBD_DIV             /* 게시글 구분 */
             , VIEW_CNT             /* 조회수 */
             , POST_NM              /* 게시글 제목 */
             , POST_IN_DATE         /* 게시 시작일 */
             , POST_OUT_DATE        /* 게시 종료일 */
             , REG_DT               /* 게시글 작성일 */
             , REG_ID               /* 게시글 작성자 ID */
             , UPD_DT               /* 게시글 수정일 */
             , UPD_ID               /* 게시글 수정자 ID */
             , TOP_YN               /* 게시글 상단 게시 여부 */
             , FILE_CD              /* 파일 코드 */
          FROM NOTICE_BOARD
    </select>

    <!-- 게시글 저장 -->
    <insert id="insertBoard" parameterType="BoardReqDTO">
        INSERT INTO NOTICE_BOARD (
               NTBD_CD              /* 게시글 코드 */
             , NTBD_DIV             /* 게시글 구분 */
             , POST_NM              /* 게시글 제목 *//* 조회수 */
             , POST_CONT            /* 게시글 내용 */
             , POST_IN_DATE         /* 게시 시작일 */
             , POST_OUT_DATE        /* 게시 종료일 */
             , REG_DT               /* 게시글 등록일 */
             , REG_ID               /* 게시글 작성자 ID */
             , UPD_DT               /* 게시글 수정일 */
             , UPD_ID               /* 게시글 수정자 ID */
             , TOP_YN               /* 게시글 상단 게시 여부 */
             , FILE_CD              /* 파일 코드 */
        )
        VALUES (
                 #{ntbdCd}
               , #{ntbdDiv}
               , #{postNm}
               , #{postCont}
               , #{postInDate}
               , #{postOutDate}
               , CURRENT_DATE
               , #{userId}
               , CURRENT_DATE
               , #{userId}
               , #{topYn}
               , #{fileCd}
               )
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="BoardReqDTO">
        /* NtbdMapper.updateBoard */
        UPDATE NOTICE_BOARD
           SET NTBD_DIV = #{ntbdDiv}                /* 게시글 구분 */
             , POST_NM = #{postNm}                  /* 게시글 제목 */
             , POST_CONT = #{postCont}              /* 게시글 내용 */
             , POST_IN_DATE = #{postInDate}         /* 게시 시작일 */
             , POST_OUT_DATE = #{postOutDate}       /* 게시 종료일 */
             , TOP_YN = #{topYn}                    /* 게시글 상단 게시 여부 */
             , FILE_CD = #{fileCd}                   /* 파일 코드 */
             , UPD_DT = CURRENT_DATE                /* 게시글 수정일 */
             , UPD_ID = #{userId}                   /* 게시글 수정자 ID */
         WHERE 1=1
           AND NTBD_CD = #{ntbdCd}                  /* 게시글 코드 */
    </update>

    <!-- 게시글 단건 삭제 -->
    <delete id="deleteBoard" parameterType="String">
        /* NtbdMapper.deleteBoard */
        DELETE FROM NOTICE_BOARD
         WHERE 1=1
           AND NTBD_CD = #{ntbdCd}                  /* 게시글 코드 */
    </delete>

    <!-- 게시글 다건 삭제 -->
    <delete id="deleteBoards" parameterType="String">
        /* NtbdMapper.deleteBoards */
        DELETE FROM NOTICE_BOARD
         WHERE 1=1
           AND NTBD_CD                              /* 게시글 코드 */
            IN
                <foreach collection="list" item="ntbdCd" open="(" separator="," close=")">
                    #{ntbdCd}
                </foreach>
    </delete>

</mapper>